@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.980 0.006 174.415);
  --foreground: oklch(0.272 0.013 229.478);
  --card: oklch(1.000 0.000 89.876);
  --card-foreground: oklch(0.272 0.013 229.478);
  --popover: oklch(1.000 0.000 89.876);
  --popover-foreground: oklch(0.272 0.013 229.478);
  --primary: oklch(0.845 0.076 182.829);
  --primary-foreground: oklch(0.272 0.013 229.478);
  --secondary: oklch(0.913 0.017 5.931);
  --secondary-foreground: oklch(0.272 0.013 229.478);
  --muted: oklch(0.950 0.006 174.397);
  --muted-foreground: oklch(0.558 0.022 229.324);
  --accent: oklch(0.816 0.054 7.133);
  --accent-foreground: oklch(0.272 0.013 229.478);
  --destructive: oklch(0.637 0.208 25.326);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --border: oklch(0.914 0.011 174.244);
  --input: oklch(0.914 0.011 174.244);
  --ring: oklch(0.845 0.076 182.829);
  --sidebar: oklch(0.985 0.000 89.876);
  --sidebar-foreground: oklch(0.370 0.012 285.801);
  --sidebar-primary: oklch(0.210 0.006 285.884);
  --sidebar-primary-foreground: oklch(0.985 0.000 89.876);
  --sidebar-accent: oklch(0.968 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.210 0.006 285.884);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.623 0.188 259.796);
}

.dark {
  --background: oklch(0.217 0.009 229.380);
  --foreground: oklch(0.964 0.004 174.454);
  --card: oklch(0.250 0.011 229.445);
  --card-foreground: oklch(0.964 0.004 174.454);
  --popover: oklch(0.250 0.011 229.445);
  --popover-foreground: oklch(0.964 0.004 174.454);
  --primary: oklch(0.845 0.076 182.829);
  --primary-foreground: oklch(0.217 0.009 229.380);
  --secondary: oklch(0.352 0.037 8.168);
  --secondary-foreground: oklch(0.964 0.004 174.454);
  --muted: oklch(0.303 0.015 229.518);
  --muted-foreground: oklch(0.698 0.025 173.505);
  --accent: oklch(0.432 0.088 10.941);
  --accent-foreground: oklch(0.964 0.004 174.454);
  --destructive: oklch(0.396 0.133 25.721);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --border: oklch(0.324 0.016 229.539);
  --input: oklch(0.324 0.016 229.539);
  --ring: oklch(0.845 0.076 182.829);
  --sidebar: oklch(0.210 0.006 285.884);
  --sidebar-foreground: oklch(0.968 0.001 286.375);
  --sidebar-primary: oklch(0.488 0.217 264.388);
  --sidebar-primary-foreground: oklch(1.000 0.000 89.876);
  --sidebar-accent: oklch(0.274 0.005 286.033);
  --sidebar-accent-foreground: oklch(0.968 0.001 286.375);
  --sidebar-border: oklch(0.274 0.005 286.033);
  --sidebar-ring: oklch(0.623 0.188 259.796);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.font-secondary{
  font-family: 'Playfair Display', serif !important;
}